/* Container */
.lion-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px;

  font-family: Arial, sans-serif;
}

/* Text Content */
.elephant-content {
  width: 60%;
}

.zebra-title {
  font-size: 36px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 3px solid #6b8e23;
  display: inline-block;
}

.tiger-text {
  font-size: 18px;
  color: #595959;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Button */
.panda-button {
  background-color: #6b8e23;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.panda-button:hover {
  background-color: #556b2f;
}

/* Image Section */
.giraffe-image {
  width: 35%;
}

.koala-photo {
  width: 100%;
  border-radius: 10px;
}

/* Social Media Icons */
.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
  font-size: 24px;
  color: #6b8e23;
}

.social-icons a:hover {
  color: #556b2f;
}
@media (max-width: 768px) {
  .zebra-title {
    font-size: 30px;
  }

  .tiger-text {
    font-size: 16px;
  }

  .panda-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .zebra-title {
    font-size: 24px;
  }

  .tiger-text {
    font-size: 14px;
  }

  .panda-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
