@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-blue: #5927e5;
  --purple: #9b89b3;
  --white-color: #fdf7ff;
  --dark-color: #362b48;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  background: #222;
}

section {
  padding: 2rem 9%;
}

.header {
  position: absolute;
  top: 0;

  left: 0;

  right: 0;
  z-index: 10000;
  background-color: #4682b4;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 9%;
}

.header .logo {
  font-weight: bolder;
  font-family: "bebas neue";
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "robote";
}

.header .logo span {
  font-family: "playfair display";
  color: #fff;
  text-transform: uppercase;
}
.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem; /* Adjust as needed */
}

.back-button:hover {
  color: var(--theme-color);
}
.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  font-family: "lexend giga";
  text-decoration: none;
  margin-left: 3rem;
  font-family: "robote";
  font-weight: 700;
}

.header .navbar a:hover {
  color: var(--theme-color);
}

#menu-bars {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  #menu-bars {
    display: initial;
  }
  .back-button {
    display: flex;
  }

  /* Adjust the navbar and menu bars if necessary */
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;

    right: 0;
    border-top: 0.1rem solid #222;
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .fa-times {
    transform: rotate(180deg);
  }

  /* Ensure back button doesn't interfere with other navbar elements */
  .header .logo {
    flex: 1;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #222;
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .header .navbar a {
    display: flex;
    background-color: #4682b4;
    border-radius: 0.5rem;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 2rem;
  }

  .home .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .home-slider .swiper-slide {
    width: 27rem;
  }

  .contact form .inputBox input {
    width: 100%;
  }
}
