:root {
  --main-blue: #5927e5;
  --purple: #9b89b3;
  --white-color: #fdf7ff;
  --dark-color: #362b48;
  --normal: #0b3399;
  --btn: #3177b0;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 5.5rem;
  color: black;
  text-decoration: underline;
  font-family: "playfair display";
  margin-bottom: 40px;
}
.category-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 120px;
}
.card {
  background: linear-gradient(#1b6572, #b9efff);
  border-radius: 10px;
  border: 2px solid white;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  height: auto;
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.393);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card-details {
  padding: 15px;
  display: flex;
  align-items: first baseline;
  flex-direction: column;
  gap: 10px;
}
.price {
  background: transparent;
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  padding: 7px 10px;

  display: inline-block;
  font-size: 1.5rem;
}
.category {
  color: #fff;
  text-transform: uppercase;
  background: var(--btn);
  font-size: 1.2rem;
  font-family: "poppins";
  margin-left: 20px;
  padding: 7px 10px;
  border-radius: 5px;
  display: inline-block;
}
.date {
  color: rgb(8, 15, 118);
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
}
.button {
  padding: 10px 15px;
  background: var(--main-blue);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s ease;
}
.button:hover {
  background: #fff;
  color: var(--main-blue);
  border: 1px solid var(--main-blue);
}
.pproducts-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none; /* Initially hidden */
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.pproducts-preview.active {
  display: flex;
  opacity: 1;
  visibility: visible;
}
.pproducts-preview .ppreview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
  position: relative;

  border-radius: 15px;
  width: 30%;
  height: auto;
  transition: display 0.3s ease;
}
.pproducts-preview .ppreview img {
  width: 100%;
  height: 200px;
  transition: transform 0.3s ease;
}
.pproducts-preview .ppreview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #faf4f4;
  font-size: 4rem;
}
.pproducts-preview .ppreview .fa-times:hover {
  transform: rotate(90deg);
}
.pproducts-preview .ppreview h3 {
  color: black;
  margin-top: 30px;
  font-size: 3.5rem;
}
.pproducts-preview .ppreview .price {
  padding: 1rem 2rem;
  font-size: 2.5rem;
  color: #093049;
  margin-top: 10px;
  /* Add margin below the price */
}
.pproducts-preview .ppreview .bbuttons {
  display: flex;
  flex-direction: column; /* Arrange buttons in a column */
  gap: 2.5rem;
  margin-right: 80px;
  flex-wrap: wrap;
  margin-top: 5rem;
  width: 160px; /* Adjust button width as needed */
  height: 40px;
}
.pproducts-preview .ppreview .bbuttons a {
  flex: 1 1 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: black;
  border-radius: 15px;
  border: 2px solid black;
}
.category-section .prizes {
  margin-top: 10px;
  font-size: 1rem;
}

.category-section .prizes p {
  margin: 5px 0;
  color: black;
}
.details-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 5rem;
  flex-wrap: wrap;
}
.detail-item {
  flex: 1;
  font-size: 2rem;
  text-align: center;
}
.detail-item strong {
  display: block;
  margin-bottom: 5px;
}
.pproducts-preview .ppreview .bbuttons a.ccart {
  background: rgb(5, 57, 91);
  color: #fff;
}
.pproducts-preview .ppreview .bbuttons a.ccart:hover {
  background: transparent;
  color: black;
}
.pproducts-preview .ppreview .bbuttons a.bbuy:hover {
  background: rgb(5, 57, 91);
  color: #fff;
}
.prizes p {
  font-size: 1.5rem;

  font-weight: bold;
  color: black;
}

@media (max-width: 768px) {
  .category-section {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  h1 {
    font-size: 4rem;
  }
  .card {
    width: 100%;
    max-width: 350px;
    margin-left: 0;
  }

  .pproducts-preview .ppreview {
    height: 50%;
    width: 90%;
  }
  .pproducts-preview .ppreview img {
    height: 200px;
  }
  .pproducts-preview .ppreview h3 {
    font-size: 1.8rem;
  }
  .pproducts-preview .ppreview .buttons {
    margin-left: 60px;
    margin-bottom: 10px;
  }

  .pproducts-preview .ppreview .details-row {
    column-gap: 70px;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 3rem;
  }
  .card {
    width: 100%;
    max-width: 300px;
  }
  .pproducts-preview .ppreview .bbuttons {
    margin-left: 60px;
    margin-bottom: 10px;
  }
  .pproducts-preview {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset to the center */
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none; /* Initially hidden */
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .pproducts-preview .ppreview {
    height: 40%;
    width: 90%;
  }
  .products-preview .preview .details-row {
    column-gap: 40px;
  }
  .pproducts-preview .ppreview h3 {
    font-size: 3rem;
  }
  .pproducts-preview .ppreview .price {
    font-size: 2rem;
    margin-top: 20px;
  }
}
