:root {
  --main-blue: #5927e5;
  --purple: #9b89b3;
  --white-color: #fdf7ff;
  --dark-color: #362b48;
  --normal: #4682b4;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  font-display: swap;
}
.timer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: nowrap; /* Ensure it stays in a single line */
}

.sub_timer {
  width: 150px; /* Adjust the width to make them smaller */
  background: rgba(239, 232, 232, 0.19);
  backdrop-filter: blur(70px);
  border: 1px solid white;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
}

.digit {
  color: #fff;
  font-weight: lighter;
  font-size: 50px; /* Reduce font size */
  text-align: center;
  padding: 1.5rem 0; /* Adjust padding */
}

.digit_name {
  margin-right: 30px;
  padding: 0.1rem 0;
  font-size: 6px; /* Reduce font size */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-display: swap;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.intro {
  text-align: left;
  max-width: 100%;
}

.intro h1 {
  font-size: 44px;
  color: #fff;

  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "playfair display";
  font-display: swap;
}

.intro p {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: 50px;
  color: white;
  font-family: "playfair display";
  font-display: swap;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 32%;
  height: 100%;
  background: var(--main-blue);
  z-index: 1;
}

.explore-btn {
  background-color: var(--main-blue);
  border: 3px solid white;
  color: #fff;
  font-family: "josefin sans";
  padding: 14px 40px;
  font-size: 26px;
  margin-left: 50px;
  border-radius: 35px;
  cursor: pointer;
  font-display: swap;
  margin-top: 30px;
}

.explore-btn:hover {
  background: white;
  color: var(--main-blue);
  border: 1px solid var(--main-blue);
}

.image-container {
  max-width: 50%;
}

.circle {
  width: 450px; /* Adjust the size of the circle */
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.circle img {
  width: 100%;
  object-fit: cover;
}

/* Media Queries for Responsive Design */

/* Tablets */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    text-align: center;
  }
  .timer {
    flex-direction: row; /* Maintain horizontal layout */
    justify-content: center;
    align-items: center;
  }

  .sub_timer {
    width: 120px; /* Adjust the width for smaller screens */
    margin-bottom: 10px;
  }

  .digit {
    font-size: 40px; /* Reduce font size for smaller screens */
  }
  .intro h1 {
    font-size: 36px;
  }

  .intro p {
    font-size: 18px;
    margin-left: 0;
    margin-top: 40px;
  }

  .explore-btn {
    font-size: 22px;
    margin-left: 60px;
    margin-top: 20px;
  }

  .image-container {
    max-width: 100%;
    margin-top: 20px;
  }

  .circle {
    width: 300px;
    height: 400px;
  }
}

/* Mobile Phones */
@media (max-width: 480px) {
  .intro h1 {
    font-size: 28px;
  }
  .timer {
    flex-direction: column;
    align-items: center;
  }

  .sub_timer {
    width: 120px;
    margin-bottom: 10px;
  }

  .digit {
    font-size: 40px;
  }
  .intro p {
    font-size: 16px;
  }

  .explore-btn {
    font-size: 18px;
    padding: 10px 30px;
  }

  .circle {
    width: 300px;
    height: 400px;
  }
}
