/* General Styling */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-display: swap;
}
.home-container {
  text-align: center;

  padding: 20px;
}
.center-content {
  height: 600px;

  border-radius: 10px;
}
/* Top Logos */
.top-logos {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 20px;
}
.top-logos img {
  height: 80px;
}

/* Center Content */
.center-content h2,
.center-content h1,
.center-content h3,
.center-content h4 {
  font-weight: bold;
}
.center-content h1 {
  font-size: 36px;
  color: #086b86;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "playfair display";
}
.center-content h2 {
  font-size: 40px;
  text-transform: uppercase;
}
.event-logo {
  height: 200px;
  margin-top: -200px;
}
/* Citronics Logo */
.event-logo img {
  width: 600px;
}
.collaboration-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px; /* Adjust space between text and logo */
  margin-top: 10px;
}
.center-content h3 {
  margin-top: 200px;
}
.collaboration-section h4 {
  margin: 0;
  font-size: 18px;
  color: #031b32;
  font-family: "Montserrat";
}

.collaboration-section img {
  width: 15%;
}
/* Collaboration Section */
.collaboration-logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}
.collaboration-logos img {
  height: 70px;
}

/* Event Details */
.event-details {
  margin-top: 60px;
}
.event-details h3 {
  font-size: 30px;
  border-radius: 10px;
  padding: 10px 10px;
  width: 800px;
  margin-left: 350px;
  background: linear-gradient(#014871, #92d8b5);
  margin-bottom: 10px;
}
.committee-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 50px;
  color: black;
  font-size: 21px;
  font-weight: bold;
}
.event-categories {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #003366;
}
@media (max-width: 768px) {
  .top-logos {
    flex-direction: row;
    gap: 5px;

    align-items: center;
  }

  .top-logos img {
    max-width: 16%; /* Make logos bigger on smaller screens */
  }

  .event-logo {
    height: 70px;
    margin-top: -80px;
  }
  /* Citronics Logo */

  .event-logo img {
    width: 300px;
  }
  .collaboration-section img {
    width: 30%;
  }
  .event-details {
    margin-top: 110px;
  }

  .event-details h3 {
    margin-left: 0%;

    width: 350px;
    font-size: 20px;
  }

  .center-content h2 {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
  }
  .center-content h3 {
    font-size: 30px;
  }
}
