.coontainer {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  height: 750px;
  width: 100vw;
  display: flex;
  perspective: 1000px;
  position: relative;
  align-items: center;
}

.slider [class*="box"] {
  overflow: hidden;
  border-radius: 20px;
  transition: all 1s ease-in-out;
  position: absolute;
}

.box1 {
  background: url("http://localhost:3000/img/two.jpg");
  background-size: cover;
  background-position: center center;
}

.box2 {
  background: url("http://localhost:3000/img/three.jpg");
  background-size: cover;
  background-position: center center;
}

.box3 {
  background: url("http://localhost:3000/img/one.jpg");
  background-size: cover;
  background-position: center center;
}

.box4 {
  background: url("http://localhost:3000/img/four.jpg");
  background-size: cover;
  background-position: center center;
}

.box5 {
  background: url("http://localhost:3000/img/five.jpg");
  background-size: cover;
  background-position: center center;
}

.box6 {
  background: url("http://localhost:3000/img/six.PNG");
  background-size: cover;
  background-position: center center;
}

.box7 {
  background: url("http://localhost:3000/img/seven.PNG");
  background-size: cover;
  background-position: center center;
}

.box8 {
  background: url("http://localhost:3000/img/eight.PNG");
  background-size: cover;
  background-position: center center;
}

.box9 {
  background: url("http://localhost:3000/img/nine.PNG");
  background-size: cover;
  background-position: center center;
}

.box10 {
  background: url("http://localhost:3000/img/ten.PNG");
  background-size: cover;
  background-position: center center;
}

.box11 {
  background: url("http://localhost:3000/img/12.PNG");
  background-size: cover;
  background-position: center center;
}

.box12 {
  background: url("http://localhost:3000/img/13.PNG");
  background-size: cover;
  background-position: center center;
}

.box13 {
  background: url("http://localhost:3000/img/14.PNG");
  background-size: cover;
  background-position: center center;
}

.box14 {
  background: url("http://localhost:3000/img/15.PNG");
  background-size: cover;
  background-position: center center;
}

.box15 {
  background: url("http://localhost:3000/img/16.PNG");
  background-size: cover;
  background-position: center center;
}

.box16 {
  background: url("http://localhost:3000/img/17.PNG");
  background-size: cover;
  background-position: center center;
}

.box17 {
  background: url("http://localhost:3000/img/18.PNG");
  background-size: cover;
  background-position: center center;
}

.box18 {
  background: url("http://localhost:3000/img/19.PNG");
  background-size: cover;
  background-position: center center;
}

.box19 {
  background: url("http://localhost:3000/img/20.PNG");
  background-size: cover;
  background-position: center center;
}

.box20 {
  background: url("http://localhost:3000/img/21.PNG");
  background-size: cover;
  background-position: center center;
}

.box21 {
  background: url("http://localhost:3000/img/22.PNG");
  background-size: cover;
  background-position: center center;
}
.slider [class*="box"]:nth-child(1),
.slider [class*="box"]:nth-child(21) {
  width: 100vh;
  height: 60vh;
  transform: scale(0.2) translate(-50%, -50%);
  top: 10%;
  z-index: 1;
}
.slider [class*="box"]:nth-child(10) .slider [class*="box"]:nth-child(19) {
  width: 100vh;
  height: 60vh;
  transform: scale(0.6) translate(-50%, -50%);
  top: 30%;
  z-index: 3;
}
.slider [class*="box"]:nth-child(15) .slider [class*="box"]:nth-child(18) {
  width: 100vh;
  height: 60vh;
  transform: scale(0.8) translate(-50%, -50%);
  top: 40%;
  z-index: 4;
}

.slider [class*="box"]:nth-child(5),
.slider [class*="box"]:nth-child(17) {
  width: 100vh;
  height: 60vh;
  transform: scale(1) translate(-50%, -50%);
  top: 50%;
  z-index: 5;
}
.slider [class*="box"]:nth-child(7),
.slider [class*="box"]:nth-child(1) {
  width: 100vh;
  height: 60vh;
  transform: scale(0.2) translate(-50%, -50%);
  top: 10%;
  z-index: 1;
}

.slider [class*="box"]:nth-child(2),
.slider [class*="box"]:nth-child(6) {
  width: 100vh;
  height: 60vh;
  transform: scale(0.4) translate(-50%, -50%);
  top: 20%;
  z-index: 2;
}

.slider [class*="box"]:nth-child(3),
.slider [class*="box"]:nth-child(5) {
  width: 100vh;
  height: 60vh;
  transform: scale(0.6) translate(-50%, -50%);
  top: 30%;
  z-index: 3;
}

.slider [class*="box"]:nth-child(4) {
  width: 60vw;
  height: 60vh;
  border-color: #c92026;
  color: #fff;
  transform: scale(1) translate(-50%, -50%);
  top: 50%;
  z-index: 4;
}

.slider [class*="box"]:nth-child(1) {
  left: -13%;
}

.slider [class*="box"]:nth-child(2) {
  left: -5%;
}

.slider [class*="box"]:nth-child(3) {
  left: 10%;
}

.slider [class*="box"]:nth-child(4) {
  left: 50%;
}

.slider [class*="box"]:nth-child(5) {
  left: 71%;
}

.slider [class*="box"]:nth-child(6) {
  left: 85%;
}

.slider [class*="box"]:nth-child(7) {
  left: 100%;
}

.slider .firstSlide {
  -webkit-animation: firstChild 1s;
  animation: firstChild 1s;
}

@-webkit-keyframes firstChild {
  0% {
    left: 100%;
    transform: scale(0.2) translate(-50%, -50%);
  }
  100% {
    left: -13%;
    transform: scale(0.2) translate(-50%, -50%);
  }
}

@keyframes firstChild {
  0% {
    left: 100%;
    transform: scale(0.2) translate(-50%, -50%);
  }
  100% {
    left: -13%;
    transform: scale(0.2) translate(-50%, -50%);
  }
}
@media (max-width: 480px) {
  .coontainer {
    width: 100vw;
    height: 60vh; /* Adjust height for smaller screens */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider {
    height: 500px; /* Adjust height for smaller screens */
    width: 100vw;
    display: flex;
    perspective: 1000px;
    position: relative;
    align-items: center;
  }

  .slider [class*="box"] {
    overflow: hidden;
    border-radius: 10px; /* Smaller border radius for smaller screens */
    transition: all 1s ease-in-out;
    position: absolute;
  }

  .slider [class*="box"]:nth-child(1),
  .slider [class*="box"]:nth-child(21) {
    width: 80vh; /* Adjust width for smaller screens */
    height: 40vh; /* Adjust height for smaller screens */
    transform: scale(0.2) translate(-50%, -50%);
    top: 10%;
    z-index: 1;
  }

  .slider [class*="box"]:nth-child(2),
  .slider [class*="box"]:nth-child(20) {
    width: 80vh;
    height: 40vh;
    transform: scale(0.4) translate(-50%, -50%);
    top: 20%;
    z-index: 2;
  }

  .slider [class*="box"]:nth-child(3),
  .slider [class*="box"]:nth-child(19) {
    width: 80vh;
    height: 40vh;
    transform: scale(0.6) translate(-50%, -50%);
    top: 30%;
    z-index: 3;
  }

  .slider [class*="box"]:nth-child(4),
  .slider [class*="box"]:nth-child(18) {
    width: 80vh;
    height: 40vh;
    transform: scale(0.8) translate(-50%, -50%);
    top: 40%;
    z-index: 4;
  }

  .slider [class*="box"]:nth-child(5),
  .slider [class*="box"]:nth-child(17) {
    width: 80vh;
    height: 40vh;
    transform: scale(1) translate(-50%, -50%);
    top: 50%;
    z-index: 5;
  }

  .slider [class*="box"]:nth-child(6),
  .slider [class*="box"]:nth-child(16) {
    width: 80vh;
    height: 40vh;
    transform: scale(0.8) translate(-50%, -50%);
    top: 60%;
    z-index: 4;
  }

  .slider [class*="box"]:nth-child(7),
  .slider [class*="box"]:nth-child(15) {
    width: 80vh;
    height: 40vh;
    transform: scale(0.6) translate(-50%, -50%);
    top: 70%;
    z-index: 3;
  }

  .slider [class*="box"]:nth-child(8),
  .slider [class*="box"]:nth-child(14) {
    width: 80vh;
    height: 40vh;
    transform: scale(0.4) translate(-50%, -50%);
    top: 80%;
    z-index: 2;
  }

  .slider [class*="box"]:nth-child(9),
  .slider [class*="box"]:nth-child(13) {
    width: 80vh;
    height: 40vh;
    transform: scale(0.2) translate(-50%, -50%);
    top: 90%;
    z-index: 1;
  }

  .slider [class*="box"]:nth-child(10),
  .slider [class*="box"]:nth-child(12) {
    width: 80vh;
    height: 40vh;
    transform: scale(0.1) translate(-50%, -50%);
    top: 100%;
    z-index: 0;
  }

  .slider [class*="box"]:nth-child(11) {
    width: 50vw; /* Adjust width for smaller screens */
    height: 40vh;
    border-color: #c92026;
    color: #fff;
    transform: scale(1) translate(-50%, -50%);
    top: 50%;
    z-index: 6;
  }

  .slider [class*="box"]:nth-child(1) {
    left: -20%; /* Adjust left position for smaller screens */
  }

  .slider [class*="box"]:nth-child(2) {
    left: -10%;
  }

  .slider [class*="box"]:nth-child(3) {
    left: 5%;
  }

  .slider [class*="box"]:nth-child(4) {
    left: 30%;
  }

  .slider [class*="box"]:nth-child(5) {
    left: 50%;
  }

  .slider [class*="box"]:nth-child(6) {
    left: 70%;
  }

  .slider [class*="box"]:nth-child(7) {
    left: 90%;
  }

  .slider [class*="box"]:nth-child(8) {
    left: 110%;
  }

  .slider [class*="box"]:nth-child(9) {
    left: 130%;
  }

  .slider [class*="box"]:nth-child(10) {
    left: 150%;
  }

  .slider [class*="box"]:nth-child(11) {
    left: 50%;
  }

  .slider [class*="box"]:nth-child(12) {
    left: 60%;
  }

  .slider [class*="box"]:nth-child(13) {
    left: 70%;
  }

  .slider [class*="box"]:nth-child(14) {
    left: 80%;
  }

  .slider [class*="box"]:nth-child(15) {
    left: 90%;
  }

  .slider [class*="box"]:nth-child(16) {
    left: 100%;
  }

  .slider [class*="box"]:nth-child(17) {
    left: 110%;
  }

  .slider [class*="box"]:nth-child(18) {
    left: 120%;
  }

  .slider [class*="box"]:nth-child(19) {
    left: 130%;
  }

  .slider [class*="box"]:nth-child(20) {
    left: 140%;
  }

  .slider [class*="box"]:nth-child(21) {
    left: 150%;
  }

  .slider .firstSlide {
    -webkit-animation: firstChild 1s;
    animation: firstChild 1s;
  }

  @-webkit-keyframes firstChild {
    0% {
      left: 100%;
      transform: scale(0.2) translate(-50%, -50%);
    }
    100% {
      left: -20%;
      transform: scale(0.2) translate(-50%, -50%);
    }
  }

  @keyframes firstChild {
    0% {
      left: 100%;
      transform: scale(0.2) translate(-50%, -50%);
    }
    100% {
      left: -20%;
      transform: scale(0.2) translate(-50%, -50%);
    }
  }
}
@media (max-width: 480px) {
  .coontainer {
    height: auto;
    padding: 20px 0;
  }

  .slider {
    height: 400px;
    width: 100%;
    display: flex;
    perspective: 600px;
  }

  .slider [class*="box"] {
    width: 90vw;
    height: 200px;
    transform: scale(0.8) translate(-50%, -50%);
    border-radius: 10px;
  }

  .slider [class*="box"]:nth-child(1),
  .slider [class*="box"]:nth-child(21) {
    width: 80vw;
    height: 200px;
    transform: scale(0.5) translate(-50%, -50%);
    top: 5%;
  }

  .slider [class*="box"]:nth-child(2),
  .slider [class*="box"]:nth-child(6) {
    width: 80vw;
    height: 200px;
    transform: scale(0.6) translate(-50%, -50%);
    top: 10%;
  }

  .slider [class*="box"]:nth-child(3),
  .slider [class*="box"]:nth-child(5) {
    width: 80vw;
    height: 200px;
    transform: scale(0.7) translate(-50%, -50%);
    top: 20%;
  }

  .slider [class*="box"]:nth-child(4) {
    width: 80vw;
    height: 250px;
    transform: scale(1) translate(-50%, -50%);
    top: 30%;
  }

  .slider [class*="box"]:nth-child(1),
  .slider [class*="box"]:nth-child(7) {
    left: -5%;
  }

  .slider [class*="box"]:nth-child(2),
  .slider [class*="box"]:nth-child(6) {
    left: 10%;
  }

  .slider [class*="box"]:nth-child(3),
  .slider [class*="box"]:nth-child(5) {
    left: 30%;
  }

  .slider [class*="box"]:nth-child(4) {
    left: 50%;
  }
}
