/* ImageSlider.css */
body {
  line-height: 1.5;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.image-slider__container {
  max-width: 100%;
  margin: auto;
}

.image-slider__filter-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-slider__filter-item {
  color: #7665d0;
  font-size: 38px;
  text-transform: uppercase;
  display: inline-block;
  margin: 30px 35px;
  font-weight: 800;
  cursor: pointer;
  font-family: "playfair display";
  border-bottom: 2px solid transparent;
  line-height: 1.2;
  transition: all 0.3s ease;
}

.image-slider__filter-item.active {
  color: #0b2954;
  border-color: #0b2954;
}

.image-slider__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-slider__item {
  width: calc(100% / 3);
  padding: 15px;
}

.image-slider__item-inner img {
  width: 100%;
}

.image-slider__item.show {
  animation: fadeIn 0.5s ease;
}

.imagee-slider__container {
  max-width: 100%;
  margin: auto;
  margin-top: 120px;
  background: rgb(67, 190, 227);
  background: -moz-linear-gradient(
    80deg,
    rgba(67, 190, 227, 1) 38%,
    rgba(74, 190, 189, 1) 56%
  );
  background: -webkit-linear-gradient(
    80deg,
    rgba(67, 190, 227, 1) 38%,
    rgba(74, 190, 189, 1) 56%
  );
  background: linear-gradient(
    80deg,
    rgb(28, 165, 206) 38%,
    rgb(76, 190, 188) 56%
  );
  height: 560px;
}

.imagee-slider__filter-container {
  text-align: center;
  margin-bottom: 20px;
}

.imagee-slider__filter-item {
  color: #7665d0;
  font-size: 38px;
  text-transform: uppercase;
  display: inline-block;
  margin: 30px 35px;
  font-weight: 800;
  cursor: pointer;
  font-family: "playfair display";
  border-bottom: 2px solid transparent;
  line-height: 1.2;
  transition: all 0.3s ease;
}

.imagee-slider__filter-item.active {
  color: #0b2954;
  border-color: #0b2954;
}

.imagee-slider__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imagee-slider__item {
  width: calc(100% / 3);
  padding: 15px;
}

.imagee-slider__item-inner img {
  width: 100%;
}

.imagee-slider__item.show {
  animation: fadeIn 0.5s ease;
}

.imagee-slider__view-more {
  text-align: center;
  margin-top: 20px;
}

.view-more-btn {
  background: linear-gradient(135deg, #2543c8, #177bb9);
  color: white;
  padding: 12px 20px;
  font-size: 2rem;
  border: none;
  text-transform: uppercase;
  font-family: "poppins";
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.view-more-btn:hover {
  background: linear-gradient(135deg, #3e59b9, #253b41);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .image-slider {
    margin-left: 0%;
  }
  .image-slider__item {
    width: 100%;
  }
  .imagee-slider__gallery {
    height: 800px;
  }
  .imagee-slider__container {
    height: 1000px;
  }
  .image-slider__filter-item {
    margin-bottom: 10px;
    font-size: 15px;
    margin: 20px 15px;
    margin-bottom: 5px;
  }
  .imagee-slider {
    margin-left: 0%;
  }
  .imagee-slider__item {
    width: 100%;
  }

  .imagee-slider__filter-item {
    margin-bottom: 10px;
    font-size: 15px;
    margin: 20px 15px;
    margin-bottom: 5px;
  }
  .imagee-slider__view-more {
    text-align: center;
    margin-top: 70px;
  }
}
