.App {
  text-align: center;
  background: rgb(176, 224, 230);
  background: linear-gradient(
    159deg,
    rgba(176, 224, 230, 1) 0%,
    rgba(70, 130, 180, 1) 100%
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  /* Ensure the gradient animation runs even for media query */
  .App {
    animation: color 12s ease-in-out infinite;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
